{% load static %}
<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>nocube</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'style.css' %}">
<script src="{% static 'script.js' %}"></script>
<body class="page">

<!-- Navigation -->
<div class="bar top black">
<a class="bar-item title">nocube</a>
<a href="..\about" class="bar-item button link-title">about</a>
<a href="..\projects" class="bar-item button link-title">projects</a>
<a href=".." class="bar-item button home">^</a>
</div>

<!-- Page Title -->
<a class="bar-item page-title anim-button-main m3">cv</a>

<!-- Background -->
<div class="background"></div>

<!-- Content -->
<div>
<iframe src="{% static 'pdfs/paper_template.pdf' %}" class="cv-pdf"></iframe>
</div>

</body>
</html>
