{% load static %}
<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>nocube</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'style.css' %}">
<script src="{% static 'script.js' %}"></script>
<body class="page">

<!-- Navigation -->
<div class="bar top black">
<a class="bar-item title">nocube</a>
<a href="..\about" class="bar-item button link-title">about</a>
<a href="..\projects" class="bar-item button link-title">projects</a>
<a href=".." class="bar-item button home">&#10066;</a>
</div>

<!-- Page Title -->
<a class="bar-item page-title anim-button-main m3">cv</a>

<!-- Background -->
<div class="background"></div>
<div class="ceiling"></div>

<!-- Content -->
<!-- <div> -->
<!-- <embed src="{% static 'pdfs/paper_template.pdf' %}#toolbar=0" class="cv-pdf"></embed> -->
<!-- </div> -->

<body style="margin: 0px">
 <div id="adobe-dc-view"></div>
 <script src="https://documentcloud.adobe.com/view-sdk/main.js"></script>
 <script type="text/javascript">
    document.addEventListener("adobe_dc_view_sdk.ready", function()
    {
        var adobeDCView = new AdobeDC.View({clientId: "784ba73f7a8945bd83de6b1d5dd959d1", divId: "adobe-dc-view"});
        adobeDCView.previewFile(
       {
          content:   {location: {url: "{% static 'pdfs/paper_template.pdf' %}"}},
          metaData: {fileName: "paper_template.pdf
       });
    });
 </script>
</body>

</body>
</html>
