{% load static %}
<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>nocube</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'style.css' %}">
<script src="{% static 'script.js' %}"></script>
<body class="page">

<!-- Navigation -->
<div class="bar top black">
<a class="bar-item title">nocube</a>
<a href="..\about" class="bar-item button">about</a>
<a href="..\cv" class="bar-item button anim-button-other">cv</a>
<a href=".." class="bar-item button home">&#10066;</a>
</div>

<!-- Page Title -->
<a class="bar-item page-title anim-button-main m2">projects</a>

<!-- Background -->
<div class="background"></div>
<div class="ceiling"></div>

<!-- Content -->
<div class="container-project">

<!-- start python -->
<button id="button-project-section-python" onclick="projectsectionFunction('project-section-python','underline-project-section-python')" 
		class="button-project-section">&#9900; <a id="underline-project-section-python" class="underline-project-section">python</a></button>
		
<div id="project-section-python" class="container-project-section">

<button onclick="projectFunction('solving_kniffel','solving_kniffel_text','arrow-solving-kniffel')" class="button-project">
<i id="arrow-terrain-map" class="button-arrow"></i>
solving kniffel aka yahtzee
</button>

<div class="project-dropdown">
<a id="solving_kniffel" class="dropdown-image" style="text-align: center; border-color: var(--background-color);"
   href="https://github.com/lcubelongren/projects-self/blob/main/section_python/solving_kniffel/players/single_player/dist/player_human.exe?raw=true">
click to download .exe
</a>
<p id="solving_kniffel_text" class="dropdown-text">
Play a single player game of Kniffel, the German version of Yahtzee, in your cmd! (they're identical)<br>
<br>
The aim of the game is to generate certain pairs and obtain the most points.<br>
<br>
Examples -- must be typed exactly <br>
Replace dice: 4 3 6 (or leave it blank)<br>
Choose a box: three_of_a_kind<br>
Leave the game: quit<br>
<br>

link: <a href="https://github.com/lcubelongren/projects-self/tree/main/section_python/solving_kniffel">project repo</a>
</p>
</div>

<button onclick="projectFunction('planetary_orbits','planetary_orbits_text','arrow-planetary-orbits')" class="button-project">
<i id="arrow-planetary-orbits" class="button-arrow"></i>
planetary orbits within the solar system
</button>

<div class="project-dropdown">
<img id="planetary_orbits" class="dropdown-image"
	 src="https://raw.githubusercontent.com/lcubelongren/projects-self/main/section_python/planetary_positions/output.png">
<p id="planetary_orbits_text" class="dropdown-text">
Using the SPICE toolkit from NASA with the SpiceyPy wrapper, the positions of planets (and Pluto) within our solar system can be plotted over time.<br>
<br>
To use the toolkit, kernels are loaded which contain all of the needed parameters to simulate each planetary (or any other) body that is traveling through space.<br>
<br>
link: <a href="https://github.com/lcubelongren/projects-self/tree/main/section_python/planetary_positions">project repo</a>
</p>
</div>

<button onclick="projectFunction('terrain_map','terrain_map_text','arrow-terrain-map')" class="button-project">
<i id="arrow-terrain-map" class="button-arrow"></i>
terrain map of europe
</button>

<div class="project-dropdown">
<img id="terrain_map" class="dropdown-image"
	 src="https://raw.githubusercontent.com/lcubelongren/projects-self/main/section_python/mapping_europe/output.gif">
<p id="terrain_map_text" class="dropdown-text">
Taking the map data for western Europe from the Copernicus project, accurate, interesting images of the terrain around Berlin can be made.<br>
<br>
Challenges when working with this data set involve the large size of the .tiff files, as well as working between various coordinate systems.<br>
<br>
link: <a href="https://github.com/lcubelongren/projects-self/tree/main/section_python/mapping_europe">project repo</a>
</p>
</div>
	 
<button onclick="projectFunction('donut_generation','donut_generation_text','arrow-donut-generation')" class="button-project">
<i id="arrow-donut-generation" class="button-arrow"></i>
donut generation
</button>

<div class="project-dropdown">
<a id="donut_generation" class="dropdown-image" style="white-space: pre-wrap; font-family: monospace; font-size: 1vw;">
<script>
getText('https://raw.githubusercontent.com/lcubelongren/projects-self/main/section_python/generating_donuts/output.txt','donut_generation');
</script></a>
<p id="donut_generation_text" class="dropdown-text">
Taking previous C written by Andy Sloane and transcribing it into Python, a torus can be rendered into ASCII art.<br>
<br>
The basics of the process are to use a framebuffer and Z-buffer to create each character, each corresponding their luminance value.<br>
<br>
link: <a href="https://github.com/lcubelongren/projects-self/tree/main/section_python/generating_donuts">project repo</a>
</p>
</div>

</div>

<br>

<!-- start dhtml -->
<button id="button-project-section-dhtml" onclick="projectsectionFunction('project-section-dhtml','underline-project-section-dhtml')" 
		class="button-project-section">&#9900; <a id="underline-project-section-dhtml" class="underline-project-section">dhtml</a></button>
		
<div id="project-section-dhtml" class="container-project-section">

<button onclick="location.href='http://nocu.be'" type="button" class="button-project">
<i id="arrow-this-website" class="button-arrow"></i>
this website
</button>

</div>

</div>

</body>
</html>
