{% load static %}
<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>nocube</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'style.css' %}">
<script src="{% static 'script.js' %}"></script>
<body class="page">

<!-- Navigation -->
<div class="bar top black">
<a class="bar-item title">nocube</a>
<a href="..\about" class="bar-item button">about</a>
<a href="..\cv" class="bar-item button anim-button-other">cv</a>
<a href=".." class="bar-item button home">^</a>
</div>

<!-- Page Title -->
<a class="bar-item page-title anim-button-main m2">projects</a>

<!-- Background -->
<div class="background"></div>
<div class="ceiling"></div>

<!-- Content -->
<div class="container-project">

<button id="button-project-section-python" onclick="projectsectionFunction('project-section-python','button-project-section-python')" class="button-project-section">python</button>
<div id="project-section-python" class="container-project-section">

<button onclick="projectFunction('planetary_orbits','arrow-planetary-orbits')" class="button-project">
<i id="arrow-planetary-orbits" class="button-arrow"></i>
planetary orbits within the solar system
</button>
<div id="planetary_orbits" class ="dropdown-project">
this is my planet
</div>

<button onclick="projectFunction('terrain_map','arrow-terrain-map')" class="button-project">
<i id="arrow-terrain-map" class="button-arrow"></i>
terrain map of europe
</button>
<div id="terrain_map" class="dropdown-project">
this is my map
</div>
</div>

<button id="button-project-section-misc" onclick="projectsectionFunction('project-section-misc','button-project-section-misc')" class="button-project-section">misc</button>
<div id="project-section-misc" class="container-project-section">

<button onclick="projectFunction('hidden_lisa','arrow-hidden-lisa')" class="button-project">
<i id="arrow-hidden-lisa" class="button-arrow"></i>
something hidden
</button>
<div id="hidden_lisa" class="dropdown-project">
this is my Lisa
</div>
</div>

</div>

</body>
</html>
