{% load static %}
<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>NoCube</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'style.css' %}">
<script src="{% static 'script.js' %}"></script>
<body class="page">

<!-- Navigation -->
<div class="bar top black">
<a class="bar-item title">NoCube --- the website of Luke Longren</a>
<a href="about" class="bar-item button">About</a>
<a href="projects" class="bar-item button">Projects</a>
<a href="cv" class="bar-item button">CV</a>
<a href="" class="bar-item button home">|^|</a>
</div>

<!-- Background -->
<div class="background"></div>

<!-- Content -->
<div id="home" class="content">

</div>

</body>
</html>
