{% load static %}
<!DOCTYPE html>

<html>

<link rel="stylesheet" type"text/css" href="{% static 'homepage/style.css' %}">

<header class="v-ani">
<video width="400" autocomplete="off" autoplay muted loop>
<source src="{% static "homepage/videos/cube_basic.mp4" %}" type="video/mp4">
</video>
</header>

<header class="w-no">
no
</header>

<header class="w-cube">
cube
</header>

<hr class="border-top"></hr>
<hr class="border-left"></hr>
<hr class="border-under"></hr>
<hr class="border-right"></hr>

<button class="button-home" onclick="window.location.href='';"></button>
<button class="button place1" onclick="window.location.href='projects';">projects</button>
<button class="button place2" onclick="window.location.href='photos';">photos</button>
<button class="button place3" onclick="window.location.href='misc';">misc.</button>

<p class="main">
Welcome to the homepage. <br>
<br>
On this site, you can find a <br>
collection of meaningful things. <br>
<br>
Thank you for stopping by :D
</p>

<p class="about">
the website of a<br>
master's student<br>
<br>
links:<br>
(coming soon)
</p>

</html>
