:root {
  --length: 20px;
  --weight: 2px;
  --timing: 8s;
  --cube-color: black;
  --front-color: black;
  --after-color: black;
  --before-color: black;
}

.empty {
  outline: 0px;
}

body {
  background-color: #111;
  min-height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: grid;
  margin: 0 auto;
  grid-template-columns: var(--length) var(--length) var(--length) var(--length) var(--length) var(--length) var(--length) var(--length) var(--length) var(--length) var(--length);
  grid-gap: var(--length);
}
.wrapper .cube {
  width: var(--length);
  height: var(--length);
  outline: var(--weight) solid var(--cube-color);
  position: relative;
  transform-style: preserve-3d;
  transform-origin: 50% 50% 100%;
}
.wrapper .cube:nth-child(1) {
  animation: cube var(--timing) ease-in-out infinite 0.05s;
}
.wrapper .cube:nth-child(2) {
  animation: cube var(--timing) ease-in-out infinite 0.1s;
}
.wrapper .cube:nth-child(3) {
  animation: cube var(--timing) ease-in-out infinite 0.15s;
}
.wrapper .cube:nth-child(4) {
  animation: cube var(--timing) ease-in-out infinite 0.2s;
}
.wrapper .cube:nth-child(5) {
  animation: cube var(--timing) ease-in-out infinite 0.25s;
}
.wrapper .cube:nth-child(6) {
  animation: cube var(--timing) ease-in-out infinite 0.3s;
}
.wrapper .cube:nth-child(7) {
  animation: cube var(--timing) ease-in-out infinite 0.35s;
}
.wrapper .cube:nth-child(8) {
  animation: cube var(--timing) ease-in-out infinite 0.4s;
}
.wrapper .cube:nth-child(9) {
  animation: cube var(--timing) ease-in-out infinite 0.45s;
}
.wrapper .cube:nth-child(10) {
  animation: cube var(--timing) ease-in-out infinite 0.5s;
}
.wrapper .cube:nth-child(11) {
  animation: cube var(--timing) ease-in-out infinite 0.55s;
}
.wrapper .cube:nth-child(12) {
  animation: cube var(--timing) ease-in-out infinite 0.6s;
}
.wrapper .cube:nth-child(13) {
  animation: cube var(--timing) ease-in-out infinite 0.65s;
}
.wrapper .cube:nth-child(14) {
  animation: cube var(--timing) ease-in-out infinite 0.7s;
}
.wrapper .cube:nth-child(15) {
  animation: cube var(--timing) ease-in-out infinite 0.75s;
}
.wrapper .cube:nth-child(16) {
  animation: cube var(--timing) ease-in-out infinite 0.8s;
}
.wrapper .cube:nth-child(17) {
  animation: cube var(--timing) ease-in-out infinite 0.85s;
}
.wrapper .cube:nth-child(18) {
  animation: cube var(--timing) ease-in-out infinite 0.9s;
}
.wrapper .cube:nth-child(19) {
  animation: cube var(--timing) ease-in-out infinite 0.95s;
}
.wrapper .cube:nth-child(20) {
  animation: cube var(--timing) ease-in-out infinite 1s;
}
.wrapper .cube:nth-child(21) {
  animation: cube var(--timing) ease-in-out infinite 1.05s;
}
.wrapper .cube:nth-child(22) {
  animation: cube var(--timing) ease-in-out infinite 1.1s;
}
.wrapper .cube:nth-child(23) {
  animation: cube var(--timing) ease-in-out infinite 1.15s;
}
.wrapper .cube:nth-child(24) {
  animation: cube var(--timing) ease-in-out infinite 1.2s;
}
.wrapper .cube:nth-child(25) {
  animation: cube var(--timing) ease-in-out infinite 1.25s;
}
.wrapper .cube:nth-child(26) {
  animation: cube var(--timing) ease-in-out infinite 1.3s;
}
.wrapper .cube:nth-child(27) {
  animation: cube var(--timing) ease-in-out infinite 1.35s;
}
.wrapper .cube:nth-child(28) {
  animation: cube var(--timing) ease-in-out infinite 1.4s;
}
.wrapper .cube:nth-child(29) {
  animation: cube var(--timing) ease-in-out infinite 1.45s;
}
.wrapper .cube:nth-child(30) {
  animation: cube var(--timing) ease-in-out infinite 1.5s;
}
.wrapper .cube:nth-child(31) {
  animation: cube var(--timing) ease-in-out infinite 1.55s;
}
.wrapper .cube:nth-child(32) {
  animation: cube var(--timing) ease-in-out infinite 1.6s;
}
.wrapper .cube:nth-child(33) {
  animation: cube var(--timing) ease-in-out infinite 1.65s;
}
.wrapper .cube:nth-child(34) {
  animation: cube var(--timing) ease-in-out infinite 1.7s;
}
.wrapper .cube:nth-child(35) {
  animation: cube var(--timing) ease-in-out infinite 1.75s;
}
.wrapper .cube:nth-child(36) {
  animation: cube var(--timing) ease-in-out infinite 1.8s;
}
.wrapper .cube:nth-child(37) {
  animation: cube var(--timing) ease-in-out infinite 1.85s;
}
.wrapper .cube:nth-child(38) {
  animation: cube var(--timing) ease-in-out infinite 1.9s;
}
.wrapper .cube:nth-child(39) {
  animation: cube var(--timing) ease-in-out infinite 1.95s;
}
.wrapper .cube:nth-child(40) {
  animation: cube var(--timing) ease-in-out infinite 2s;
}
.wrapper .cube:nth-child(41) {
  animation: cube var(--timing) ease-in-out infinite 2.05s;
}
.wrapper .cube:nth-child(42) {
  animation: cube var(--timing) ease-in-out infinite 2.1s;
}
.wrapper .cube:nth-child(43) {
  animation: cube var(--timing) ease-in-out infinite 2.15s;
}
.wrapper .cube:nth-child(44) {
  animation: cube var(--timing) ease-in-out infinite 2.2s;
}
.wrapper .cube:nth-child(45) {
  animation: cube var(--timing) ease-in-out infinite 2.25s;
}
.wrapper .cube:nth-child(46) {
  animation: cube var(--timing) ease-in-out infinite 2.3s;
}
.wrapper .cube:nth-child(47) {
  animation: cube var(--timing) ease-in-out infinite 2.35s;
}
.wrapper .cube:nth-child(48) {
  animation: cube var(--timing) ease-in-out infinite 2.4s;
}
.wrapper .cube:nth-child(49) {
  animation: cube var(--timing) ease-in-out infinite 2.45s;
}
.wrapper .cube:nth-child(50) {
  animation: cube var(--timing) ease-in-out infinite 2.5s;
}
.wrapper .cube:nth-child(51) {
  animation: cube var(--timing) ease-in-out infinite 2.55s;
}
.wrapper .cube:nth-child(52) {
  animation: cube var(--timing) ease-in-out infinite 2.6s;
}
.wrapper .cube:nth-child(53) {
  animation: cube var(--timing) ease-in-out infinite 2.65s;
}
.wrapper .cube:nth-child(54) {
  animation: cube var(--timing) ease-in-out infinite 2.7s;
}
.wrapper .cube:nth-child(55) {
  animation: cube var(--timing) ease-in-out infinite 2.75s;
}
.wrapper .cube:nth-child(56) {
  animation: cube var(--timing) ease-in-out infinite 2.8s;
}
.wrapper .cube:nth-child(57) {
  animation: cube var(--timing) ease-in-out infinite 2.85s;
}
.wrapper .cube:nth-child(58) {
  animation: cube var(--timing) ease-in-out infinite 2.9s;
}
.wrapper .cube:nth-child(59) {
  animation: cube var(--timing) ease-in-out infinite 2.95s;
}
.wrapper .cube:nth-child(60) {
  animation: cube var(--timing) ease-in-out infinite 3s;
}
.wrapper .cube:nth-child(61) {
  animation: cube var(--timing) ease-in-out infinite 3.05s;
}
.wrapper .cube:nth-child(62) {
  animation: cube var(--timing) ease-in-out infinite 3.1s;
}
.wrapper .cube:nth-child(63) {
  animation: cube var(--timing) ease-in-out infinite 3.15s;
}
.wrapper .cube:nth-child(64) {
  animation: cube var(--timing) ease-in-out infinite 3.2s;
}
.wrapper .cube:nth-child(65) {
  animation: cube var(--timing) ease-in-out infinite 3.25s;
}
.wrapper .cube:nth-child(66) {
  animation: cube var(--timing) ease-in-out infinite 3.3s;
}
.wrapper .cube:nth-child(67) {
  animation: cube var(--timing) ease-in-out infinite 3.35s;
}
.wrapper .cube:nth-child(68) {
  animation: cube var(--timing) ease-in-out infinite 3.4s;
}
.wrapper .cube:nth-child(69) {
  animation: cube var(--timing) ease-in-out infinite 3.45s;
}
.wrapper .cube:nth-child(70) {
  animation: cube var(--timing) ease-in-out infinite 3.5s;
}
.wrapper .cube:nth-child(71) {
  animation: cube var(--timing) ease-in-out infinite 3.55s;
}
.wrapper .cube:nth-child(72) {
  animation: cube var(--timing) ease-in-out infinite 3.6s;
}
.wrapper .cube:nth-child(73) {
  animation: cube var(--timing) ease-in-out infinite 3.65s;
}
.wrapper .cube:nth-child(74) {
  animation: cube var(--timing) ease-in-out infinite 3.7s;
}
.wrapper .cube:nth-child(75) {
  animation: cube var(--timing) ease-in-out infinite 3.75s;
}
.wrapper .cube:nth-child(76) {
  animation: cube var(--timing) ease-in-out infinite 3.8s;
}
.wrapper .cube:nth-child(77) {
  animation: cube var(--timing) ease-in-out infinite 3.85s;
}
.wrapper .cube:nth-child(78) {
  animation: cube var(--timing) ease-in-out infinite 3.9s;
}
.wrapper .cube:nth-child(79) {
  animation: cube var(--timing) ease-in-out infinite 3.95s;
}
.wrapper .cube:nth-child(80) {
  animation: cube var(--timing) ease-in-out infinite 4s;
}
.wrapper .cube:nth-child(81) {
  animation: cube var(--timing) ease-in-out infinite 4.05s;
}
.wrapper .cube:nth-child(82) {
  animation: cube var(--timing) ease-in-out infinite 4.1s;
}
.wrapper .cube:nth-child(83) {
  animation: cube var(--timing) ease-in-out infinite 4.15s;
}
.wrapper .cube:nth-child(84) {
  animation: cube var(--timing) ease-in-out infinite 4.2s;
}
.wrapper .cube:nth-child(85) {
  animation: cube var(--timing) ease-in-out infinite 4.25s;
}
.wrapper .cube:nth-child(86) {
  animation: cube var(--timing) ease-in-out infinite 4.3s;
}
.wrapper .cube:nth-child(87) {
  animation: cube var(--timing) ease-in-out infinite 4.35s;
}
.wrapper .cube:nth-child(88) {
  animation: cube var(--timing) ease-in-out infinite 4.4s;
}
.wrapper .cube:nth-child(89) {
  animation: cube var(--timing) ease-in-out infinite 4.45s;
}
.wrapper .cube:nth-child(90) {
  animation: cube var(--timing) ease-in-out infinite 4.5s;
}
.wrapper .cube:nth-child(91) {
  animation: cube var(--timing) ease-in-out infinite 4.55s;
}
.wrapper .cube:nth-child(92) {
  animation: cube var(--timing) ease-in-out infinite 4.6s;
}
.wrapper .cube:nth-child(93) {
  animation: cube var(--timing) ease-in-out infinite 4.65s;
}
.wrapper .cube:nth-child(94) {
  animation: cube var(--timing) ease-in-out infinite 4.7s;
}
.wrapper .cube:nth-child(95) {
  animation: cube var(--timing) ease-in-out infinite 4.75s;
}
.wrapper .cube:nth-child(96) {
  animation: cube var(--timing) ease-in-out infinite 4.8s;
}
.wrapper .cube:nth-child(97) {
  animation: cube var(--timing) ease-in-out infinite 4.85s;
}
.wrapper .cube:nth-child(98) {
  animation: cube var(--timing) ease-in-out infinite 4.9s;
}
.wrapper .cube:nth-child(99) {
  animation: cube var(--timing) ease-in-out infinite 4.95s;
}
.wrapper .cube:nth-child(100) {
  animation: cube var(--timing) ease-in-out infinite 5s;
}
.wrapper .cube .front {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  outline: var(--weight) solid var(--front-color);
  transform: translate3d(0, 0, var(--length));
  transform-style: preserve-3d;
}
.wrapper .cube .front:after, .wrapper .cube .front:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wrapper .cube .front:after {
  outline: var(--weight) solid var(--after-color);
  transform: rotateX(90deg) translateZ(10px) translateY(-10px);
}
.wrapper .cube .front:before {
  outline: var(--weight) solid var(--before-color);
  transform: rotateX(90deg) translateZ(-10px) translateY(-10px);
}
@keyframes cube {
  50% {
    transform: rotateX(180deg) rotateZ(45deg);
  }
}