html {
    display: flex;
    justify-content: center;
    background-color: lightgray;
    font-family: 'Helvetica';
}

body {
    width: 8.5in;
    min-width: 8.5in;
    height: auto;
    padding: 0.3in 0.5in 0.3in 0.5in;
    border: 0.05in solid black;
    background-color: white;
}

hr {height: 0.02in; border: none; background-color: black;}

#fullName {
    text-align: center;
}
#givenName {
    display: inline;
    font-weight: normal;
    font-size: 38px;
}
#familyName {
    display: inline;
    font-weight: bold;
    font-size: 38px;
}

#pageContainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
#mainContainer {
    padding-left: 0.15in;
    border-left: 0.02in solid black;
}
#sideContainer {
    padding-right: 0.15in;
    text-align: right;
}

.sectionTitle{
    font-weight: bold;
    margin: 0.025in 0 0 0;
}

.itemContainer {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    align-items: end;
}
.itemContainer > * {flex: 1 1 auto;}
.itemTitle {font-variant: small-caps; font-size: 19px;}
.itemDates {text-align: right; font-size: 16px;}
.itemBreak {flex-basis: 100%; height: 0;}
.itemEmployer {font-size: 16px;}
.itemPlace {text-align: right; font-size: 16px;}
.itemDescription {
    text-align: justify;
    font-size: 14px;
    margin: 0.05in 0 0.10in 0;
    padding-left: 0.0751in;
    border-left: 0.02in solid black;
}
.itemSide {
    margin-bottom: 0.075in;
}

ol {
    font-size: 15px;
    padding-left: 0.3in;
}
li::marker {
    content: '  [' counter(list-item) ']  ';
    font-weight: bold;
}
