
html {box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html {overflow-y: scroll;}

/* git.io/normalize */
@import '~@csstools/normalize.css';


/* objects */
:root {
--sm-origin: 60px;
--sm-width: 80px;
}

.bar{width: 80%; margin-left: 10%; margin-right: 10%; overflow: hidden; z-index: 20;}
.bar-item{float: left; display: inline-block; padding: 20px; white-space: normal; outline: 0; text-align: center;}
.title{width: 50%;}

.sm{position: fixed; width: var(--sm-width); height: var(--sm-width); padding: 12px; border-style: solid; border-width: 4px;}
.sm-button{position: absolute; width: var(--sm-width); height: var(--sm-width); transform: translate(-15%, -15%);}
.sm:hover{opacity: 0.7;}
.github{left: 80%; top: calc(var(--sm-origin) + var(--sm-width));}
.steam{left: 80%; top: calc(var(--sm-origin) + 2*var(--sm-width));}
.lichess{left: 80%; top: calc(var(--sm-origin) + 3*var(--sm-width));}
.instagram{left: 80%; top: calc(var(--sm-origin) + 4*var(--sm-width));}


/* positions */
.top{position: fixed; z-index: 5; top: 15px;}
.home{float: right;}
.page-title{top: 85px; margin-left: 11%;}

.content-home{position: absolute; left: 15%; top: 85px;}
.content-about{position: relative; margin-left: 20%; margin-right: 20%; padding: 20px 50px 0px 50px; top: 120px;}

.design-home{position: absolute; left: 15%; bottom: 5%;}

/* projects content */
.container-project {
	position: absolute;
	display: block;
	top: 240px;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 65%; 
	height: 100px;
	background: var(--page-color);
}

.container-project-section {
	display: grid;
	grid-gap: 10px;
	padding: 20px;
}

.button-project {
	border-radius: 4px;
	width: 100%;
	height: 55px;
	text-align: left;
	padding-left: 25px;
	padding-right: 50px;
	overflow: hidden; 
	white-space: nowrap;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: var(--secondary-color);	
}

.button-arrow {
	position: absolute;
	right: 45px;
	border: solid black;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 5px;
}

.dropdown-project {
	width: 100%;
	padding: 50px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	display: none;
}

.cv-pdf {
	position: absolute;
	top: 160px;
	padding-bottom: 160px;
	left: 52%;
	transform: translate(-50%, 0%);
	width: 55%;
	height: 100%;
}

#project-section-python {display: none;}
#project-section-misc   {display: none;}

#arrow-planetary-orbits {
	transform: rotate(35deg) translate(0px,-10px);
	-webkit-transform: rotate(135deg) translate(0px,-10px);
}

#arrow-terrain-map {
	transform: rotate(135deg) translate(0px,-10px);
	-webkit-transform: rotate(135deg) translate(0px,-10px);
}

#arrow-hidden-lisa {
	transform: rotate(135deg) translate(0px,-10px);
	-webkit-transform: rotate(135deg) translate(0px,-10px);
}

#planetary_orbits {
	background-color: lightblue;
}

#terrain_map {
	background-color: green;
}

#hidden_lisa {
	background-color: lightblue;
}

/* shapes */
.background{height: 150%; width: 80%; margin-left: 10%; margin-right: 10%; top: 15px; position: fixed; z-index: -1;}
.ceiling{height: 15px; width: 80%; margin-left: 10%; margin-right: 10%; top: 0px; position: fixed; z-index: 101;}


/* fonts */
:root {
	--font-choice: Helvetica, "Courier New", Monaco;
}

.title{font-size: 34px; font-family: var(--font-choice);}
.button{font-size: 30px; font-family: var(--font-choice);}
.home{font-size: 30px; font-weight: bold; font-family: var(--font-choice);}
.page-title{font-size: 45px; font-weight: bold; font-family: var(--font-choice);}
.content-home{font-size: 28px; font-family: var(--font-choice);}
.content-about{font-size: 22px; font-family: var(--font-choice);}
.button-project{font-size: 24px; font-family: var(--font-choice);}


/* colors */
:root {
--text-color: #12151F;
--secondary-color: #8AA899;
--page-color: #F7F4E9;
--background-color: #1D1D2C;
}

.bar{color: var(--text-color); background-color: var(--secondary-color);}
.button{color: var(--text-color); background-color: var(--secondary-color);}
.button:hover{color: var(--page-color); background-color: var(--background-color);}
.background{background-color: var(--page-color);}
.page{background-color: var(--background-color);}
.ceiling{background-color: var(--background-color);}
.page-title{color: var(--text-color);}
.content-home{color: var(--text-color);}
.content-about{color: var(--text-color);}


/* animations */
/* --- */
/* navigation bar */
.anim-home {
  position: relative;
  animation-name: home;
  animation-duration: 0.3s;
  animation-delay: 0.1s;
  animation-timing-function: ease;
}

@keyframes home {
  0%   {left: 0px; top: 0px;}
  50%  {left: 0px; top: -5px;}
  100% {left: 0px; top: 0px;}
}

.anim-button-main {
  position: relative;
  animation-duration: 0.9s;
  animation-timing-function: cubic-bezier(0,0,0.3,1);
  z-index: 3;
}

.m1 {animation-name: m1;}
@keyframes m1 {
  0%   {left: 38%; top: 20px; font-size: 25px; font-weight: normal; text-decoration: underline;}
  25%  {left: 38%; top: 85px; font-size: 25px; font-weight: normal;}
  100% {left:  0%; top: 85px; font-size: 45px; font-weight: bold;}
}

.m2 {animation-name: m2;}
@keyframes m2 {
  0%   {left: 44.5%; top: 20px; font-size: 25px; font-weight: normal; text-decoration: underline;}
  25%  {left: 44.5%; top: 85px; font-size: 25px; font-weight: normal;}
  100% {left:    0%; top: 85px; font-size: 45px; font-weight: bold;}
}

.m3 {animation-name: m3;}
@keyframes m3 {
  0%   {left: 53%; top: 20px; font-size: 25px; font-weight: normal; text-decoration: underline;}
  25%  {left: 53%; top: 85px; font-size: 25px; font-weight: normal;}
  100% {left:  0%; top: 85px; font-size: 45px; font-weight: bold;}
}

.anim-button-other {
  position: relative;
  animation-duration: 0.9s;
  animation-name: button-other;
  animation-timing-function: ease-in-out;
}

@keyframes button-other {
  0%   {left: 9%;}
  100% {left: 0%;}
}

/* about/buttons transition */
.si1{animation-duration: 0.9s; animation-name: si1;}
@keyframes si1 {
	0%   {top: 150%;}
	100% {top: calc(var(--sm-origin) + var(--sm-width));}
}

.si2{animation-duration: 0.9s; animation-name: si2;}
@keyframes si2 {
	0%   {top: 150%;}
	100% {top: calc(var(--sm-origin) + 2*var(--sm-width));}
}

.si3{animation-duration: 0.9s; animation-name: si3;}
@keyframes si3 {
	0%   {top: 150%;}
	100% {top: calc(var(--sm-origin) + 3*var(--sm-width));}
}

.si4{animation-duration: 0.9s; animation-name: si4;}
@keyframes si4 {
	0%   {top: 150%;}
	100% {top: calc(var(--sm-origin) + 4*var(--sm-width));}
}

/* about/content transition NOT USED*/
.anim-content {
  position: relative;
  animation-duration: 0.9s;
  animation-name: anim-content;
}
@keyframes anim-content {
  0%   {top: 800px;}
  100% {top: 120px;}
}

/* fitting for other screens */
@media (max-width: 900px) {
  .title{display: none;}
}

