
html {box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html {overflow-y: scroll; overflow-x: hidden;}

/* objects */
:root {
--sm-origin: 60px;
--sm-width: 80px;
}

.bar{width: 80%; margin-left: 10%; margin-right: 10%; overflow: hidden; z-index: 20; border-bottom: 5px solid var(--background-color);}
.bar-item{float: left; display: inline-block; padding: 20px; white-space: normal; outline: 0; text-align: center;}
.title{width: 50%; text-align: left; margin-left: 2%;}

.sm{position: fixed; width: var(--sm-width); height: var(--sm-width); padding: 12px; border-style: solid; border-width: 4px;}
.sm-button{position: absolute; width: var(--sm-width); height: var(--sm-width); transform: translate(-15%, -15%);}
.sm:hover{opacity: 0.7;}
.github{left: 80%; top: calc(var(--sm-origin) + 1*var(--sm-width));}
.googlescholar{left: 80%; top: calc(var(--sm-origin) + 2*var(--sm-width));}
.steam{left: 80%; top: calc(var(--sm-origin) + 3*var(--sm-width));}
.lichess{left: 80%; top: calc(var(--sm-origin) + 4*var(--sm-width));}
.instagram{left: 80%; top: calc(var(--sm-origin) + 5*var(--sm-width));}
.youtube{left: 80%; top: calc(var(--sm-origin) + 6*var(--sm-width));}


/* positions */
.top{position: fixed; z-index: 99; top: 15px;}
.home{float: right; text-decoration: none; padding-right: 30px; padding-left: 30px; padding-bottom: 12px;}
.page-title{top: 90px; margin-left: 13%; float: none;}

.content-home{position: absolute; left: 16vw; top: 30px;}
.content-about{position: absolute; margin-left: 20%; margin-right: 20%; padding: 20px 50px 0px 50px;}

.design-home{position: absolute; left: 15%; bottom: 5%;}

/* projects content */
.container-project {
	position: absolute;
	display: block;
	top: 240px;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 65%; 
	height: 100px;
	background: var(--page-color);
}

.container-project-section {
	display: grid;
	grid-gap: 10px;
	padding: 20px;
}

.project-highlight {
	border-style: solid;
	border-color: var(--background-color);
	border-width: 0 0 0 4px;
	border-radius: 10px;
	padding: 15px 15px 15px 30px;
}

.underline-project-section:hover {
	text-decoration: underline !important; 
	color: var(--secondary-color);
}
.button-project-section {
	transition-duration: 0.1s;
	text-decoration: none;
	border: none;
	outline: none;
	background: transparent;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 25px;
	cursor: pointer;
}

.button-arrow {
	position: absolute;
	right: 45px;
	border: solid black;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 5px;
}

.button-project {
	border-radius: 4px;
	width: 100%;
	height: 55px;
	text-align: left;
	padding-left: 25px;
	padding-right: 50px;
	overflow: hidden; 
	white-space: nowrap;	
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: var(--secondary-color);	
	border-bottom: solid 4px var(--background-color);
	cursor: pointer;
}

.project-dropdown {
	overflow: hidden; 
	display: flex;
}

.dropdown-image {
	background-color: var(--secondary-color);
	border-style: double;
	border-width: 10px;
	border-radius: 5px;
	width: 60%;
	padding: 5px;
	margin: 0px;
	float: left;
}

.dropdown-text {
	position: relative; 
	margin: 0; 
	padding: 1.5vw; 
	float: right;
}

.cv-pdf {
	position: absolute;
	top: 120px;
	left: 52%;
	transform: translate(-50%, 0%);
	width: 55%;
	height: calc(100% - 120px);
	padding-bottom: 0px;
	border: solid 2px var(--background-color);
}

.container-photo {
	margin-top: 80px;
	position: absolute;
	display: block;
	width: 80%;
	height: auto;
	margin-left: 10%; 
	margin-right: 10%;
	background: var(--page-color);
	text-align: center;
}

.photo-gallery {
	width: 80%; 
	height: 200px; 
	overflow: hidden;
	margin-left: 10%;
	margin-right: 10%;
	z-index: 5;
}

.photo-gallery-img1 {
	width: 30%; 
	height: 100%; 
	object-fit: cover;
	z-index: 7; 
}
.photo-gallery-img2 {
	position: fixed; 
	top: 110px; 
	height: 85vh;
	width: 78%;
	left: 11%;
	transform: translateX(8px);
	object-fit: none;
	z-index: 7; 
}
.photo-gallery-img1:hover {cursor: zoom-in;}
.photo-gallery-img2:hover {cursor: zoom-out;}

.photo-gallery-date {
	transform: translate(0, 110px);
	font-size: 22px;
	font-weight: bold;
	font-family: var(--font-choice);
	width: 13.5%;
}

.project-section {
	position: relative; 
	margin: 0; 
	padding: 1.5vw;
	padding-left: 5.0vw;
	float: left;
}

.about-section {
	width: 100%;
	padding: 0;
	padding-left: 0.5vw;
	float: left;
}

.container-about {
	left: -5%;
	width: 65%; 
	height: 80%;
	top: 160px;
	background: var(--page-color);
}

.home-footer {
	position: fixed; margin: 0; bottom: 1vh; margin-left: 90.2%; writing-mode: vertical-rl;
	font-size: 18px; font-family: var(--font-choice);
}

/* ids section: newsletters */
#project-section-newsletters {display: none;}
#underline-project-section-newsletters {text-decoration: none;}

/* ids section: maps */
#project-section-maps {display: none;}
#underline-project-section-maps {text-decoration: none;}

#arrow-regionalairline {
	transform: rotate(135deg) translate(0px,-10px);
	-webkit-transform: rotate(135deg) translate(0px,-10px);
}
#regionalairline {display: none;}
#regionalairline_text {display: none;}

#arrow-whereivebeen {
	transform: rotate(135deg) translate(0px,-10px);
	-webkit-transform: rotate(135deg) translate(0px,-10px);
}
#whereivebeen {display: none;}
#whereivebeen_text {display: none;}

#arrow-whereiveflown {
	transform: rotate(135deg) translate(0px,-10px);
	-webkit-transform: rotate(135deg) translate(0px,-10px);
}
#whereiveflown {display: none;}
#whereiveflown_text {display: none;}

#arrow-antarcticstations {
	transform: rotate(135deg) translate(0px,-10px);
	-webkit-transform: rotate(135deg) translate(0px,-10px);
}
#antarcticstations {display: none;}
#antarcticstations_text {display: none;}

#arrow-airlinedestinations {
	transform: rotate(135deg) translate(0px,-10px);
	-webkit-transform: rotate(135deg) translate(0px,-10px);
}
#airlinedestinations {display: none;}
#airlinedestinations_text {display: none;}

/* ids section: movies */
#project-section-movies {display: none;}
#underline-project-section-movies {text-decoration: none;}

#arrow-antarctictransportation {
	transform: rotate(135deg) translate(0px,-10px);
	-webkit-transform: rotate(135deg) translate(0px,-10px);
}
#antarctictransportation {display: none;}
#antarctictransportation_text {display: none;}

#arrow-antarcticscenery {
	transform: rotate(135deg) translate(0px,-10px);
	-webkit-transform: rotate(135deg) translate(0px,-10px);
}
#antarcticscenery {display: none;}
#antarcticscenery_text {display: none;}

#arrow-motionsunmoon {
	transform: rotate(135deg) translate(0px,-10px);
	-webkit-transform: rotate(135deg) translate(0px,-10px);
}
#motionsunmoon {display: none;}
#motionsunmoon_text {display: none;}

/* ids section: games */
#project-section-games {display: none;}
#underline-project-section-games {text-decoration: none;}

#arrow-railroadgame {
	transform: rotate(135deg) translate(0px,-10px);
	-webkit-transform: rotate(135deg) translate(0px,-10px);
}
#railroadgame {display: none;}
#railroadgame_text {display: none;}

#arrow-cellularautomata {
	transform: rotate(135deg) translate(0px,-10px);
	-webkit-transform: rotate(135deg) translate(0px,-10px);
}
#cellularautomata {display: none;}
#cellularautomata_text {display: none;}

#arrow-gridgame {
	transform: rotate(135deg) translate(0px,-10px);
	-webkit-transform: rotate(135deg) translate(0px,-10px);
}
#gridgame {display: none;}
#gridgame_text {display: none;}

#arrow-orbitsgame {
	transform: rotate(135deg) translate(0px,-10px);
	-webkit-transform: rotate(135deg) translate(0px,-10px);
}
#orbitsgame {display: none;}
#orbitsgame_text {display: none;}

/* ids section: visuals */
#project-section-visuals {display: none;}
#underline-project-section-visuals {text-decoration: none;}

#arrow-rollingdice {
	transform: rotate(135deg) translate(0px,-10px);
	-webkit-transform: rotate(135deg) translate(0px,-10px);
}
#rollingdice {display: none;}
#rollingdice_text {display: none;}


/* shapes */
.background{height: 150%; width: 80%; margin-left: 10%; margin-right: 10%; top: 15px; position: fixed; z-index: -1;}
.ceiling{height: 15px; width: 80%; margin-left: 10%; margin-right: 10%; top: 0px; position: fixed; z-index: 101;}


/* fonts */
:root {
	--font-choice: Helvetica, "Courier New", Monaco;
}

.title{font-size: 34px; font-weight: none; font-family: var(--font-choice);}
.button{font-size: 28px; font-family: var(--font-choice);}
.home{font-size: 36px; font-weight: bold; font-family: var(--font-choice);}
.page-title{font-size: 45px; font-weight: bold; font-family: var(--font-choice);}
.content-home{font-size: 26px; font-family: var(--font-choice);}
.content-about{font-size: 20px; font-family: var(--font-choice);}
.button-project{font-size: 24px; font-family: var(--font-choice);}
.button-project-section{font-size: 34px; font-family: var(--font-choice);}
.dropdown-text{font-size: 1.5vw; font-family: var(--font-choice); line-height: 130%;}
.project-highlight{font-size: 24px; font-family: var(--font-choice); line-height: 160%;}
.project-section{font-size: 22px; font-family: var(--font-choice);}
.project-text{font-size: 22px; font-family: var(--font-choice);}
.project-link{font-family: var(--font-choice);}


/* colors */
:root {
	--text-color: #12151F;
	--secondary-color: #8AA899;
	--page-color: #F7F4E9;
	--background-color: #1D1D2C;
}

.bar{color: var(--text-color); background-color: var(--secondary-color);}
.button{color: var(--text-color); background-color: var(--secondary-color);}
.button:hover{color: var(--page-color); background-color: var(--background-color);}
.background{background-color: var(--page-color);}
.page{background-color: var(--background-color);}
.ceiling{background-color: var(--background-color);}
.page-title{color: var(--text-color);}
.content-home{color: var(--text-color);}
.content-about{color: var(--text-color);}
.dropdown-text{color: var(--text-color);}
.project-text{color: var(--text-color);}
.project-link{}


/* animations */
/* --- */
/* navigation bar */
.anim-home {
	position: relative;
	animation-name: home;
	animation-duration: 0.3s;
	animation-delay: 0.1s;
	animation-timing-function: ease;
}

@keyframes home {
	0%   {left: 0px; top: 0px;}
	50%  {left: 0px; top: -5px;}
	100% {left: 0px; top: 0px;}
}

.anim-button-main {
	position: relative;
	animation-duration: 0.9s;
	animation-timing-function: cubic-bezier(0,0,0.3,1);
	z-index: 3;
}

.m1 {animation-name: m1;}
@keyframes m1 {
	0%   {left: 38%; top: 20px; font-size: 25px; font-weight: normal; text-decoration: underline;}
	25%  {left: 38%; top: 90px; font-size: 25px; font-weight: normal;}
	100% {left:  0%; top: 90px; font-size: 45px; font-weight: bold;}
}

.m2 {animation-name: m2;}
@keyframes m2 {
	0%   {left: 44.5%; top: 20px; font-size: 25px; font-weight: normal; text-decoration: underline;}
	25%  {left: 44.5%; top: 90px; font-size: 25px; font-weight: normal;}
	100% {left:    0%; top: 90px; font-size: 45px; font-weight: bold;}
}

.m3 {animation-name: m3;}
@keyframes m3 {
	0%   {left: 53%; top: 20px; font-size: 25px; font-weight: normal; text-decoration: underline;}
	25%  {left: 53%; top: 90px; font-size: 25px; font-weight: normal;}
	100% {left:  0%; top: 90px; font-size: 45px; font-weight: bold;}
}

.anim-button-other {
	position: relative;
	animation-duration: 0.9s;
	animation-name: button-other;
	animation-timing-function: ease-in-out;
}

@keyframes button-other {
	0%   {left: 9%;}
	100% {left: 0%;}
}

/* about/buttons transition */
.si1{animation-duration: 0.9s; animation-name: si1;}
@keyframes si1 {
	0%   {top: 150%;}
	100% {top: calc(var(--sm-origin) + var(--sm-width));}
}

.si2{animation-duration: 0.9s; animation-name: si2;}
@keyframes si2 {
	0%   {top: 150%;}
	100% {top: calc(var(--sm-origin) + 2*var(--sm-width));}
}

.si3{animation-duration: 0.9s; animation-name: si3;}
@keyframes si3 {
	0%   {top: 150%;}
	100% {top: calc(var(--sm-origin) + 3*var(--sm-width));}
}

.si4{animation-duration: 0.9s; animation-name: si4;}
@keyframes si4 {
	0%   {top: 150%;}
	100% {top: calc(var(--sm-origin) + 4*var(--sm-width));}
}

.si5{animation-duration: 0.9s; animation-name: si5;}
@keyframes si5 {
	0%   {top: 150%;}
	100% {top: calc(var(--sm-origin) + 5*var(--sm-width));}
}

.si6{animation-duration: 0.9s; animation-name: si6;}
@keyframes si6 {
	0%   {top: 150%;}
	100% {top: calc(var(--sm-origin) + 6*var(--sm-width));}
}

/* main project section initial loading */
.project-section-main {
	animation: project-section-main 2s;
}
@keyframes project-section-main {
	from { opacity: 0;}
	to   { opacity: 1;}
}

/* about/content transition NOT USED*/
.anim-content {
	position: relative;
	animation-duration: 0.9s;
	animation-name: anim-content;
}
@keyframes anim-content {
	0%   {top: 800px;}
	100% {top: 120px;}
}

/* desktop viewing notice NOT USED*/
.notice-desktop {
	font-size: 100px;
	color: red;
	width: 80%; 
	margin-left: 10%; 
	margin-right: 10%;
}

/* fitting for other screens */
@media (max-width: 1275px) {
	.title{display: none;}
	.sm{display: none;}
}

@media (max-width: 600px) {
	.home{display: none;}
}

@media (max-width: 465px) {
	.content-home{top: 120px; font-size: 20px;}
}
