:root {
	--page-color: #1D1D2C;
	--background-color: white;
	--secondary-color: #8AA899;
	--text-color: #12151F;
}

html {overflow-y: scroll; overflow-x: hidden;}
body {margin: 0; font-family: monospace;}

a {color: var(--text-color);}
a:hover {color: var(--secondary-color);}

.page {background-color: var(--page-color);}
.background {position: fixed; height: 150%; width: 80vw; margin-left: 10vw; margin-right: 10vw; top: 15px; z-index: -1; background-color: var(--background-color);}
.ceiling {position: fixed; height: 15px; width: 80vw; margin-left: 10vw; margin-right: 10vw; top: 0px; z-index: 101; background-color: var(--page-color);}
.content {position: absolute; width: 70vw; margin-left: 15vw; margin-right: 15vw; top: 30px; line-height: 2.0; overflow: hidden; font-size: 2vw;}

.title {font-size: 4vw; color: var(--text-color);}
.title-line {height: 0vw; background-color: var(--background-color); border: none;}

.page-link {font-size: 3vw; color: var(--text-color); text-decoration-thickness: 0.2vw;}

.newsletter-section {text-align: center; font-size: 2vw;}
.newsletter-link {font-size: 2.75vw; text-decoration-thickness: 0.2vw;}
#newsletter-list {text-align: right;}
#newsletter-page {text-align: left;}
#newsletter-page * {font-size: 1.25vw;}
#newsletter-page img {width: 37vw; height: auto;}

.photo-gallery-date {text-align: center; font-size: 2vw;}
.photo-gallery {width: 100%;}
.photo-gallery img {width: 32.15%; height: auto; top: 0;}

.project-section {text-align: left; font-size: 3vw;}

.home-animation-box {position: absolute; bottom: 1vw; height: 5vw; width: 5vw; background-color: var(--page-color);}
