body{
	background: black url("images/background.gif") no-repeat 50% 50%;
	color: black;
	text-align: center;
	padding: 300px 0;
}

footer{
	position: absolute;
	top: 85%;
	left: 80%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

