
:root {
	--text-color: #12151F;
	--secondary-color: #8AA899;
	--page-color: #F7F4E9;
	--background-color: #1D1D2C;
}

html {height: auto;}
html {overflow-y: scroll; overflow-x: hidden;}

.ceiling    {height: 15px; width: 80%; margin-left: 10%; margin-right: 10%; top:  0px; position: fixed; z-index: 101;}
.page       {height: 100%;}
.siding     {height: 100%; width: 1.5%; position: fixed; z-index: 80;}

.ceiling    {background-color: var(--background-color);}
.page       {background-color: var(--background-color);}
.siding     {background-color: var(--secondary-color);}

.container-project {
	position: absolute;
	display: block;
	width: 80%;
	height: auto;
	margin-left: 10%; 
	margin-right: 10%;
	background: var(--page-color);
	text-align: center;
	z-index: 10;
}

.photo-gallery {
	width: 80%; 
	height: 200px; 
	overflow: hidden;
	margin-left: 10%;
	margin-right: 10%;
	z-index: 30;
}

.photo-gallery-img {
	width: 30%; 
	height: 100%; 
	object-fit: cover;
}

.date {
	transform: translate(-44%, 110px);
	font-size: 18px;
}

.title {
	font-size: 22px;
	padding: 10px;
}

@keyframes move-top-to-bottom {
	  0% {
		transform: translateY(-30cqh) rotate( 0.0turn);
	}
	 20% {
		transform: translateY(  0cqh) rotate( 0.1turn);
	}
	 40% {
		transform: translateY( 30cqh) rotate( 0.0turn);
	}
	 60% {
		transform: translateY( 60cqh) rotate(-0.1turn);
	}
	 80% {
		transform: translateY( 90cqh) rotate( 0.0turn);
	}
	100% {
		transform: translateY(120cqh) rotate( 0.1turn);
	}
}

.heart {
	position: fixed;
	left: 82%;
	width: 7%;
	height: auto;
	animation: move-top-to-bottom 10000ms infinite linear;
	z-index: 50;
}
